PORT=3003

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

TG_API_ID=
TG_API_HASH=
# TG_SESSION= (оставь пустым, если авторизуешься впервые)
TG_SESSION=
TG_PHONE=+37379...
TG_PHONE_CODE=+373
# TG_PASSWORD= (если у тебя включен 2FA)
TG_PASSWORD=
